<h1>Edit a Life Goal:</h1>
<hr>
<br>

<form action="/life_goals/<%= @life_goal.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">

  <div>
    <label for="title">Title: </label>
    <input type="text" name="life_goal[title]" id="title" value='<%= @life_goal.title %>'>
  </div><br>

  <div>
    <label for="location">Location: </label>
    <input type="text" name="life_goal[location]" id="location" value='<%= @life_goal.location %>'>
  </div><br>

  <div>
    <label for="summary">Short Summary: </label><br><br>
    <textarea type="text" name="life_goal[summary]" id="summary" cols="60" rows="2"><%= @life_goal.summary %></textarea>
  </div><br>

  <div>
    <label for="description">Detailed Description: </label><br><br>
    <textarea name="life_goal[description]" id="description" cols="60" rows="4"><%= @life_goal.description %></textarea>
  </div><br>

  <div>
    <label for="completed">Completed: </label>
    Yes <input type="radio" name="life_goal[completed]" value="true" <%='checked' if @life_goal.completed %> >
    No <input type="radio" name="life_goal[completed]" value="false" <%='checked' if !@life_goal.completed %> >
  </div><br>

  <% if @life_goal.completed %>
    <div>
      <label for="description">Reflection: </label><br><br>
      <textarea cols="60" rows="4" name="life_goal[reflection]" id="reflection" placeholder="(optional)"><%= @life_goal.reflection %></textarea>
    </div><br>
  <% end %>

  <input type="submit" value="Save">
</form>

<br><br>
<center>Return to my <a href="/life_goals">Bucket List</a></center>
