<center><h1><%= current_user.name %>'s Bucket List:</h1></center>
<hr><br>

<h3>Life Goals:</h3>
<br><br>

<% @life_goals.each do |goal| %>
  <% if goal.completed == false %>
    <div>
      <li><strong><%= goal.title %></strong> | <%= goal.summary %> | <a href="/life_goals/<%= goal.id %>">View This Goal</a></li>
    </div><br>
  <% end %>
<% end %>

<br>

<a href="/life_goals/new">+ Add a New Life Goal</a>

<br><br><hr><br>

<h3>Completed Life Goals:</h3>

<br><br>
<% @life_goals.each do |goal| %>
  <% if goal.completed == true %>
    <div>
      <li><strong><%= goal.title %></strong> | <%= goal.summary %> | <a href="/life_goals/<%= goal.id %>">View This Goal</a></li>
    </div><br>
  <% end %>
<% end %>

<br>
<div align="right">
  <a href="/logout">Log Out</a>
</div>
