<h1><%= @life_goal.title %> </h1>
<hr>
  <br>

<div>
  <p><strong>Location:</strong> <%= @life_goal.location %></p>
    <br>
  <p><strong>Summary:</strong> <%= @life_goal.summary %></p>
    <br>
  <p><strong>Description:</strong> <%= @life_goal.description %></p>

  <% if @life_goal.completed %>
    <br><p><strong>Status:</strong> Completed</p>
      <br>
    <p><strong>Reflection: </strong> <%= @life_goal.reflection %></p>
      <br>
  <% end %>

</div>

<br>
<a href="/life_goals/<%= @life_goal.id %>/edit">Edit Goal Here</a> | <a href="/life_goals">View Full Bucket List</a>
<br></br>

<div align="right">
  <form action='/life_goals/<%= @life_goal.id %>/delete' method="POST">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Goal">
  </form>
</div>
